nav{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;
}
    
#navbarSupportedContent ul li   
{
    margin-left: 100px;
    text-decoration: none;
}
#navbarSupportedContent ul li a{
    border-radius: 10px;
}
a:hover{
    background-color: orange;
}
/*.imgb{
    border-radius: 10px;
}
.rectangle {
    height: 50px;
    width: 100px;
    background-color:brown;
    border-radius: 5px;
    color: WHITE;
    padding: 15px;
    position: relative;
    margin-top: -590px;
    margin-left: 620px;
}
@media(max-width:800px){
    .rectangle{
        margin-left: 100px;
    }
}
*/
/*_________________modal___________________________*/
.modal-body input{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
}
.modal-body button{
    margin-left: 166px;
}
.modal-body form h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*______________CARD_____________________________*/

/*______________BACKGROUNG_____________________*/

.card-a{
    margin: 15px;
    margin-top: 43px;
         margin-left: 58px;
         border-radius: 15px;

}
.card-b{
    margin: 15px;
    margin-left: 578px;
    margin-top: -482px;
    border-radius: 15px;
    
}
.card-c{
    margin: 15px;
    margin-left: 1100px;
    margin-top: -481px;
    border-radius: 15px;
    
}

.card-img-top{
    border-radius: 10px;
}  
.btn{
    margin-left: 85px;
}
